<!-- Section-->
<section>
    <header class="major">
        <h2>Featured Topics</h2>
    </header>
    <div class="features">
        {% assign pages = site.pages | where: "layout", "topic" %}
        {% for page in pages %}
            <article>
                <span class="icon {{page.icon}}"></span>
                <div class="content">
                    <h3><a href="{{page.url}}">{{page.title}}</a></h3>
                    <p>{{page.description}}</p>
                </div>
            </article>
        {% endfor %}
    </div>
</section>